section.callback#callback
  h2.callback__title Остались вопросы? Мы вам перезвоним!
  form.callback__form
    input#name.input.input_theme_border.callback__form-item(name='name', placeholder='Ваше имя')
    input#phone.input.input_theme_border.callback__form-item(name='phone', placeholder='Ваш телефон')
    .callback__form-item
      button(type="submit").button.button_theme_orange-light Позвоните мне!
  include assets/cat
