section.popup.room-info(data-popup-content-id='room_info')
  .popup__overlay
  .popup__content
    .room-info__container.popup__container
      button.popup__close
        include ../../components/popup/close

      .room-info__wrapper
        .room-info__rooms
          //include rooms/comfort
          //include rooms/lux

        .room-info__control-buttons
          button.room-info__control-button.room-info__prev
            include ../../components/next-arrow
            | Предыдущий
          button.room-info__control-button.room-info__next
            | Следующий
            include ../../components/next-arrow
