@import '../../styles/colors';

.room-info__container {
  color: $BLACK;
  padding-top: 30px;
  padding-bottom: 20px;
}

.room-info__content {
  display: flex;
}

.room-info__wrapper {
  width: 100%;
}

.room-info__left-side {
  padding-left: 45px;
  width: 70%;
}

.room-info__right-side {
  width: 30%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.room-info__title {
  width: 70%;
  text-align: right;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 35px;

  span {
    color: $ORANGE;
    font-weight: 500;
  }
}

.room-info__slide {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 450px;
}

.room-info__thumbs {
  margin-top: 15px;
  display: flex;
}

.room-info__thumb {
  width: 125px !important;
  height: 82px;
  border-radius: 15px;
  margin-right: 15px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  cursor: pointer;
  padding: 2px;

  &.is-active {
    border: 2px solid $ORANGE;
  }

  &:last-child {
    margin-right: 0;
  }
}

.room-info__info-list-item {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.room-info__cost {
  position: absolute;
  right: 0;
  bottom: 150px;
  padding: 13px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  background: $MEDIUM_GREEN;
  border-radius: 30px 0 0 30px;
  width: 150px;
  color: $WHITE;
  text-align: center;

  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
  }
}

.room-info__order-button {
  width: 220px;
  margin-top: auto;
}

.room-info__control-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: calc(100% + 95px);
}

.room-info__control-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  svg {
    transition: transform 0.3s;
    width: 30px;
    height: 30px;
    fill: $WHITE;
  }
}

.room-info__prev {
  &:hover {
    svg {
      transform: translateX(-5px) rotate(180deg);
    }
  }

  svg {
    transform: rotate(180deg);
    margin-right: 8px;
  }
}

.room-info__next {
  &:hover {
    svg {
      transform: translateX(5px);
    }
  }

  svg {
    margin-left: 8px;
  }
}
