.popup.room-info(data-popup-content-id='room_comfort')
  .popup__overlay
  .popup__content
    .popup__container
      .popup__header
        include ../../../../components/Logo/logo-mini
        button.popup__close
          include ../../components/popup/close

      .room-info__wrapper
        include rooms/comfort

.popup.room-info(data-popup-content-id='room_lux')
  .popup__overlay
  .popup__content
    .popup__container
      .popup__header
        include ../../../../components/Logo/logo-mini
        button.popup__close
          include ../../components/popup/close

      .room-info__wrapper
        include rooms/lux
