@import '../../styles/colors';
@import '../../styles/breakpoints';

.room-info__content {
  color: $BLACK;

  @media ($laptop) {
    display: flex;
  }
}

.room-info__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.room-info__left-side {
  @media ($laptop) {
    width: 70%;
  }
}

.room-info__right-side {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media ($laptop) {
    width: 30%;
  }
}

.room-info__title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;

  @media ($laptop) {
    width: 70%;
    text-align: right;
    font-size: 22px;
    line-height: 26px;
  }

  span {
    color: $ORANGE;
    font-weight: 500;
  }
}

.room-info__slides-wrapper {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.room-info__slides {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  .owl-stage-outer {
    height: 100%;
  }

  .owl-stage {
    height: 100%;
  }

  .owl-item {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;

    @media ($tablet) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media ($laptop) {
      padding-right: 20px;
      padding-left: 40px;
    }
  }
}

.room-info__slide {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-info__thumbs {
  margin: 15px 0 0 15px;
  padding-bottom: 10px;
  display: flex;
  overflow-x: auto;

  @media ($laptop) {
    margin: 20px 0 0 40px;
		padding-bottom: 0;
  }
}

.room-info__thumb {
  width: 100px !important;
  height: 60px;
  border-radius: 15px;
  margin-right: 15px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  cursor: pointer;
  padding: 2px;
  flex-shrink: 0;

  @media ($tablet) {
    width: 125px !important;
    height: 82px;
  }

  &.is-active {
    border: 2px solid $ORANGE;
  }

  &:last-child {
    margin-right: 0;
  }
}

.rooms-info__size {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;

	@media ($tablet) {
		font-size: 18px;
		line-height: 21px;
	}
}

.room-info__info-list {
  @media ($tablet) {
    margin-left: 15px;
  }

  @media ($laptop) {
		max-width: 280px;
    margin-left: 0;
  }
}

.room-info__info-list-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;

  @media ($tablet) {
    font-size: 18px;
    line-height: 21px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.room-info__cost {
  width: 105px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 0;
	top: 110px;
  background: $MEDIUM_GREEN;
  border-radius: 30px 0 0 30px;
  color: $WHITE;
  text-align: center;

  span {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  @media ($tablet) {
    width: 130px;
    padding: 13px 0;
    font-size: 14px;
    line-height: 16px;

    span {
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media ($laptop) {
    width: 150px;
		top: auto;
    bottom: 190px;
    font-size: 22px;
    line-height: 26px;

    span {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.rooms__info-bottom {
	margin-top: 20px;
	display: flex;
	flex-direction: column;

	@media ($laptop) {
		margin-top: auto;
	}
}

.rooms-info__additionally {
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $ORANGE;
	margin-bottom: 20px;

	@media ($tablet) {
		margin-bottom: 45px;
		font-size: 16px;
		line-height: 19px;
		max-width: 300px;
		margin-left: 15px;
	}

	@media ($laptop) {
		max-width: 275px;
		margin-left: 0;
	}
}

.room-info__order-button {
  width: 220px;
	margin-left: auto;
	margin-right: auto;
}
