.popup.room-info(data-popup-content-id='room_comfort')
  .popup__overlay
  .popup__content
    .room-info__container.popup__container
      button.popup__close
        include ../../components/popup/close

      .room-info__wrapper
        include rooms/comfort

.popup.room-info(data-popup-content-id='room_lux')
  .popup__overlay
  .popup__content
    .room-info__container.popup__container
      button.popup__close
        include ../../components/popup/close

      .room-info__wrapper
        include rooms/lux
