- var links = require("../../../../data/links.json");

section.approach
  h2.approach__title К каждому котику - индивидуальный подход!
  ul.approach__list
    li.approach__item
      include assets/label
      p.approach__item-text У нас все официально. При заселении котика, мы заключаем <b>официальный договор</b> с его хозяином.
    li.approach__item
      include assets/label
      p.approach__item-text В гостиницу принимаются <b>только здоровые животные</b>, имеющие ветеринарный паспорт со всеми необходимыми прививками.
    li.approach__item
      include assets/label
      p.approach__item-text Вы сможете в любой момент увидеть вашего котика благодаря <b>круглосуточному онлайн-видеонаблюдению</b>.
  a.link.approach__link(href=links.information) Подробнее
