section.firstscreen
  img.firstscreen__image(src='../images/banner.jpg', alt='Заголовок')
  .firstscreen__content
    h1.firstscreen__title Какой-то большой заголовок
    p.firstscreen__text Небольшое описание того зоголовка, что бы было понятно, о чем речь и так далее и тому подобное.
    button.button Забронировать номер
