section.firstscreen
  picture
    source(srcset='/images/banner.webp', type='image/webp')
    source(srcset='/images/banner.jpg', type='image/jpg')
    img.firstscreen__image(src='/images/banner.jpg', alt='Современная гостиница для кошек')
  img.firstscreen__image-paws(src='/images/banner-paws.png', alt='Лапки')

  .firstscreen__image-background-mobile
    picture
      source(srcset='/images/banner-mobile.webp', type='image/webp')
      source(srcset='/images/banner-mobile.jpg', type='image/jpg')
      img(src='/images/banner-mobile.jpg', alt='Современная гостиница для кошек')
  .firstscreen__content-wrapper
    .firstscreen__content
      h1.firstscreen__title Современная гостиница для кошек
      p.firstscreen__text Безопасные и комфортные номера для вашего любимца.
        br
        span.firstscreen__text-accent Онлайн-видеонаблюдение 24/7.
      p.firstscreen__text.firstscreen__bottom-text Нам важно, чтобы вы и ваш котик остались довольны!
      .firstscreen__button
        button.button.button_theme_hover-white.popup-open(data-popup-target-id='booking') Забронировать номер
