@import '~styles/colors';
@import '~styles/grid';
@import '~styles/mixins';
@import '~styles/breakpoints';

.firstscreen {
  @include row();
  position: relative;
  height: 540px;
  margin-top: 53px;

  @media ($tablet) {
    height: 260px;
    margin-top: 20px;
  }

  @media ($laptop) {
    height: 465px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  }
}

.firstscreen__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;

  @media ($tablet) {
    display: block;
  }
}

.firstscreen__image-paws {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 800px;
  height: 100%;
  object-fit: cover;
  display: none;

  @media ($laptop-wide) {
    display: block;
  }
}

.firstscreen__image-background-mobile {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $BLACK;
	overflow: hidden;

	img {
		width: 100%;
		object-fit: cover;
		height: 400px;
		display: block;
		position: absolute;
		bottom: -50px;
		clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
	}

	@media ($tablet) {
		display: none;
	}
}

.firstscreen__content-wrapper {
	padding-right: 10px;
	padding-left: 10px;
  margin-left: auto;
  margin-right: auto;

  @media ($tablet) {
    width: 750px;
  }

  @media ($laptop) {
    width: 1024px;
  }
}

.firstscreen__content {
  padding-top: 35px;
  position: relative;
  z-index: 3;

  @media ($tablet) {
    @include column(22);
    @include post(1);
    padding-top: 25px;
  }

  @media ($laptop) {
    @include column(23);
    padding-top: 100px;
  }
}

.firstscreen__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
  color: $WHITE;

  @media ($tablet) {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 22px;
  }

  @media ($laptop) {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
  }
}

.firstscreen__text {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  color: $LIGHT_GREY;
  font-weight: 400;

  @media ($tablet) {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }

  @media ($tablet-only) {
    @include prefix(2, 22);
  }

  @media ($laptop) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  &:nth-child(3) {
    margin-top: 50px;
    text-align: right;
    margin-bottom: 0;

    @media ($tablet) {
      margin-top: 40px;
      text-align: left;
    }

    @media ($laptop) {
      margin-top: 15px;
    }
  }
}

.firstscreen__bottom-text {
	max-width: 300px;

	@media ($laptop) {
	  max-width: initial;
	}
}

.firstscreen__text-accent {
  color: $LIGHT_ORANGE;

  @media ($mobile) {
    display: inline-block;
    margin-top: 5px;
  }
}

.firstscreen__button {
  @include column(9.3, 23);
  margin-top: 40px;
  margin-left: auto;
  display: none;

  @media ($laptop) {
    display: block;
  }
}
