@import '../../styles/colors';
@import '../../styles/grid';
@import '../../styles/mixins';

.start {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.start__content {
  @include layout();
  display: flex;

  b {
    font-weight: 700;
  }
}

.start__left-cont {
  @include column(20);
  padding-top: 40px;
  padding-bottom: 100px;
}

.start__right-cont {
  @include column(28);
  padding-top: 40px;
  position: relative;

  &:before {
    content: '';
    width: 200%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: $LIGHT_ORANGE;
    z-index: 1;
    border-radius: 10px 0 0 10px;
  }
}

.start__left {
  color: $ORANGE;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid $LIGHT_ORANGE;
  border-right-color: transparent;
  height: 100%;
}

.start__right {
  @include suffix(2, 28);
  @include prefix(2, 28);
  padding-top: 35px;
  padding-bottom: 50px;
  color: $WHITE;
  border-radius: 0 10px 10px 0;
  border: 2px solid $WHITE;
  position: relative;
  border-left-color: transparent;
  z-index: 2;
}

.start__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: $LIGHT_ORANGE;
}

.start__date {
  margin-top: 55px;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $LIGHT_ORANGE;
  font-weight: 300;

  b {
    font-weight: 500;
  }
}

.start__sub-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.start__list {
  margin-top: 40px;
  font-weight: 300;
}

.start__list-item {
  font-size: 16px;
  line-height: 19px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.start__button {
  @include post(2, 28);
  width: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
