section.start.start_theme_reverse
  .start__content
    .start__left-cont
      .start__left
        h2.start__title Скоро открытие!
        .start__date Наша гостиница откроется <br /> <b>1 июля 2021 года</b>.

    .start__right-cont
      .start__right
        h3.start__sub-title А пока вы можете воспользоваться ранним бронированием, которое имеет ряд преимуществ:
        ul.start__list
          li.start__list-item - мы предоставим вам <b><u>скидку 15%</u></b> на проживание;
          li.start__list-item - при бронировании от 8-и суток вы получите <b><u>подарок</u></b> для вашего любимца!
          li.start__list-item - бронирование <b>БЕСПЛАТНОЕ</b>, оплата происходит в день заселения.
      .start__button
        button.button.popup-open(data-popup-target-id='booking') Забронировать номер
      .start__button.start__button-mobile
        button.button.button_theme_white.popup-open(data-popup-target-id='booking') Забронировать номер
