- var links = require("../../../../data/links.json");

.popup.booking(data-popup-content-id='booking')
  .popup__overlay
  .popup__content
    .booking__container.popup__container
      .popup__header
        include ../../../../components/Logo/logo-mini
        button.popup__close
          include ../../components/popup/close
      .booking__info
        img.booking__logo(src='../images/logo.svg', alt='Гостиница для животных' loading='lazy')
        .booking__contacts
          .booking__contacts-label Наш телефон:
          .booking__phone-section
            a(href="tel:" + links.phoneValue).booking__contacts-phone #{links.phone}
            a.link.link_theme_normal.popup-close(href=links.callback, target="_blank") Связаться со мной
      .booking__content
        #booking-form.booking__form
      .booking__info-mobile
        a(href="tel:" + links.phoneValue) тел. #{links.phone}
        div г. Санкт-Петербург