.popup.booking(data-popup-content-id='booking')
  .popup__overlay
  .popup__content
    .booking__container.popup__container
      button.popup__close
        include ../../components/popup/close
      .booking__info
        img.booking__logo(src='../images/logo.svg', alt='Гостиница для животных')
        .booking__contacts
          .booking__contacts-label Наш телефон:
          .booking__phone-section
            .booking__contacts-phone +7(953) 173-32-97
            a.link.link_theme_normal.link_theme_mini(href='#') Связаться со мной
      .booking__content
        include result/index
        //include form/index
