section.booking
  img.booking__image(src='../images/booking-cat.jpg')
  .booking__content-container
    .booking__content
      .booking__header
        h2.booking__title Безопасность и комфорт животных - это важно!
        p.booking__text Мы хотим, чтобы вы были уверены в нас, поэтому по любым вопросам вы можете писать нам на почту <a href="#" class="link">catdoghouse@mail.ru</a> или звонить по телефону <a href="#" class="link">+7(953)1733297</a>
      .booking__button
        button.button Забронировать номер
