@import './src/clients/site/styles/colors';

.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $WHITE;
  background-color: $ORANGE;
  padding: 11px 23px;
  border-radius: 60px;
  width: 100%;
  border: 1px solid $ORANGE;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: none;

  &:hover {
    background-color: $WHITE;
    color: $ORANGE;
  }

  &_theme_orange-light {
    background-color: $LIGHT_ORANGE;
    border: 1px solid $LIGHT_ORANGE;
  }

  &_theme_borders {
    background-color: $WHITE;
    color: $ORANGE;
    border: 1px solid $ORANGE;

    &:hover {
      background-color: $ORANGE;
      color: $WHITE;
    }
  }

  &.is-loading {
    pointer-events: none;
    cursor: default;
    padding-top: 8px;
    padding-bottom: 8px;

    .button__loader {
      display: flex;
      justify-content: center;
    }

    .button__text {
      display: none;
    }
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.button__loader {
  display: none;
}
