section.rooms
    h2.rooms__title Наши номера
    p.rooms__text Какое-то небольшое описание или вступление бла бла Какое-то небольшое описание или вступление бла бла гакое-то небольшое описание или вступление бла бла
    .rooms__items
        .rooms__item
            .rooms__header
                h3.rooms__header-title Комфорт
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none">
                    <path d="M2 2L11.2929 11.2929C11.6834 11.6834 11.6834 12.3166 11.2929 12.7071L2 22" stroke="#333333" stroke-width="3"/>
                </svg>
            .rooms__image
            ul.rooms__list
                li.rooms__list-item - Площадь номера 4м2
                li.rooms__list-item - Площадь номера 4м2
                li.rooms__list-item - Площадь номера 4м2
                li.rooms__list-item - Площадь номера 4м2
                li.rooms__list-item - Площадь номера 4м2
            .rooms__price 550 p
            button.rooms__booking Забронировать номер



