@import '../../styles/colors';
@import '../../styles/grid';
@import '../../styles/mixins';

.rooms {
  padding-top: 10px;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 495px;
    background-color: $LIGHT_ORANGE;
    position: absolute;
    z-index: 1;
    top: 0;
  }
}

.rooms__paws {
  width: 100%;
  position: relative;
  z-index: 1;
}

.rooms__content-wrapper {
  @include layout();
  position: relative;
  z-index: 1;
}

.rooms__content {
  @include prefix(2, 48);
  @include suffix(2, 48);
  margin-top: 35px;
  color: $WHITE;
}

.rooms__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
}

.rooms__text-main {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.rooms__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

.rooms__items {
  margin-top: 45px;
  display: flex;
}

.rooms__item {
  @include column(20, 44);
  @include push(3, 44);
  padding-top: 30px;
  padding-bottom: 45px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.14);
  border-radius: 22px;
  background-color: $WHITE;
  color: $BLACK;

  &:last-child {
    @include push(0);
  }
}

.rooms__header {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    transition: 0.3s fill, 0.3s transform;
    fill: $BLACK;
  }
}

.rooms__header-button {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  transition: 0.3s color;

  &:hover {
    color: $ORANGE;

    svg {
      transform: translateX(5px);
      fill: $ORANGE;
    }
  }
}

.rooms__image {
  @include post(2, 20);
  @include push(2, 20);
  background: #f2f2f2;
  border-radius: 12px;
  height: 195px;
  margin-top: 25px;
}

.rooms__list-container {
  position: relative;
	min-height: 190px;
}

.rooms__list {
  @include post(2, 20);
  margin-top: 40px;
}

.rooms__list-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.rooms__price {
  border-radius: 30px 0 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $WHITE;
  background-color: $MEDIUM_GREEN;
  width: 90px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.rooms__booking-container {
  display: flex;
  justify-content: center;
  margin-top: auto;

  button {
    @include column(10, 20);
    margin: 0 auto;
  }
}
