section.information
  h2.information__title Полезная информация
  .information__content
    .information__content-item
      h3.information__content-title Условия приема животных
      .information__content-description
        div
          b Животное должно:
          ul.information__list
            li - быть домашним
            li - не иметь инфекционных заболеваний или хронических болезней, требующих лечения
            li - иметь <u>ветеринарный паспорт</u>, где должны быть проставлены все необходимые прививки
        p
          b Мы НЕ принимаем:
          span беременных кошек и котят возрастом до 4х месяцев.

    .information__content-item
      h3.information__content-title Что взять с собой?
      .information__content-description
        ul.information__list
          li - <u>корм</u> на весь период пребывния питомца в готинице
          li - <u>наполнитель</u>
        p.information__text-accent При необходимости, корм и наполнитель можно приобрести у нас.
        p В нашей гостинице есть все необходимое для проживания вашего питомца. Однако, для <b>лучшей адаптации</b> питомца вы можете привезти с собой <b>знакомые ему вещи:</b> миски, лоток, игрушки, лежак
