@import '../../styles/colors';

.input {
  outline: none;

  &_theme_border {
    border: 1px solid $ORANGE;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 11px 11px 20px;
    color: $BLACK;
    border-radius: 60px;

    &::placeholder {
      color: $ORANGE;
    }
  }
}
