@import '~styles/colors';
@import '~styles/mixins';
@import '~styles/grid';
@import '~styles/breakpoints';

.header {
  @include layout();
  margin-top: 15px;
  display: none;

  @media ($tablet) {
    display: block;
  }

  @media ($tablet-only) {
    @include prefix(1, 48);
    @include suffix(1, 48);
  }
}

.header__top {
  display: flex;
  position: relative;
  justify-content: space-between;

  @media ($laptop) {
    justify-content: center;
  }
}

.header__logo {
  width: 320px;
  display: none;

  @media ($laptop) {
    display: block;
  }
}

.header__logo-mini {
  width: 305px;

  @media ($laptop) {
    display: none;
  }
}

.header__right-side {
  position: absolute;
  top: 0;
  right: 0;
}

.header__contacts {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;

  > :not(:last-child) {
    margin-bottom: 5px;
  }

  a {
    display: none;

    @media ($tablet) {
      display: block;
    }
  }

  @media ($tablet) {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
  }
}

.header__phone-link {
  @media ($laptop) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.header__social {
  justify-content: flex-end;
  margin-top: 20px;
  display: none;

  @media ($laptop) {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 17px;

      @media ($laptop) {
        margin-right: 12px;
      }
    }
  }

  svg {
    width: 32px;
    height: 32px;

    @media ($laptop) {
      width: 22px;
      height: 22px;
    }
  }

  a {
    display: block;

    @media ($laptop) {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.header__navigation {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @media ($laptop) {
    margin-top: 35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;

  li {
    &:first-child .header__navigation-link {
      margin-left: 0;
    }
  }
}

.header__navigation-link {
  font-size: 14px;
  line-height: 16px;
  color: $DARK_GREY;

  @media ($laptop) {
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.3s color;

    &:hover {
      text-decoration: underline;
      color: $BLACK;
    }
  }

  &.is-active {
    text-decoration: underline;
    color: $BLACK;
  }
}

.header__navigation-link-video {
  color: $ORANGE;
  text-transform: uppercase;
  display: block;

  @media ($tablet-only) {
    margin-top: 25px;
    margin-left: auto;
  }

  @media ($laptop) {
    padding-top: 2px;

    &:hover {
      text-decoration: underline;
      color: $ORANGE;
    }
  }
}
