header.header
  .header__top
    img.header__logo(src='../images/logo.svg', alt='Гостиница для животных')
    .header__phone
      .header__phone-value тел. +7 (905) 332-56-89
      a.header__phone-link(href='tel:+79053325689') Позвоните мне
  nav.header__navigation
    ul.header__navigation-list
      li
        a.header__navigation-link.is-active(href='#') Главная
      li
        a.header__navigation-link(href='#') О нас
      li
        a.header__navigation-link(href='#') Номера и цены
      li
        a.header__navigation-link(href='#') Правила размещения
      li
        a.header__navigation-link(href='#') Контакты
    .header__cabinet
      a(href="/cabinet").header__cabinet-link Личный кабинет
      img(src='../images/icon-home.png', alt="Перейти в кабинет").header__cabinet-icon
