header.header
  .header__top
    img.header__logo(src='../images/logo.svg', alt='Гостиница для животных')
    .header__right-side
      .header__phone
        .header__phone-value тел. +7 (905) 332-56-89
        a.link.link(href='tel:+79053325689') Позвоните мне
      ul.header__social
        li.header__social-item
          a.header__social-link(href='https://vk.com')
            include assets/vk
        li.header__social-item
          a.header__social-link(href='https://vk.com')
            include assets/instagram
        li.header__social-item
          a.header__social-link(href='https://vk.com')
            include assets/whatsapp
        li.header__social-item
          a.header__social-link(href='https://vk.com')
            include assets/youtube
  nav.header__navigation
    ul.header__navigation-list
      li
        a.header__navigation-link.is-active(href='/') Главная
      li
        a.header__navigation-link(href='#rooms') Номера и цены
      li
        a.header__navigation-link(href='#') Правила размещения
      li
        a.header__navigation-link(href='#') Отзывы
      li
        a.header__navigation-link(href='#') Контакты
      li
        a.header__navigation-link.header__navigation-link_theme_accent(href='#') Видеонаблюдение
