@import '../../styles/colors';

.link {
  background-color: transparent;
  border: none;
  color: $ORANGE;
  text-decoration: underline;
  font-style: italic;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &_theme_white {
    color: $WHITE;
  }

  &_theme_normal {
    font-style: normal;
  }
}
