@import 'breakpoints';

@mixin layout {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  @media ($tablet) {
    max-width: 708px;
    padding: 0;
  }

  @media ($laptop) {
    max-width: 1040px;
  }
}
