section.whywe
  h2.whywe__title Почему мы?
  ul.whywe__list
    li.whywe__item - потому что то то и то
    li.whywe__item - а еще вот так и так
    li.whywe__item - да и вообще просто потому что и потому то и вот еще по этому, мы вообще молодцы и тряляля
    li.whywe__item - ну и поэтому тоже конечно же, а как иначе
  .whywe__cat
    img(src='../images/cat.svg', alt='Тут кошка')
