@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~react-datepicker/dist/react-datepicker.css';

// Стили для React компонентов подключать только тут
@import '../../components/Input';
@import '../../components/Button';
@import '../../components/Datepicker';
@import '../../components/Checkbox';
@import './components/link';
@import './components/dropdown';
@import './components/popup';

@import './sections/header';
@import './sections/header-mobile';
@import './sections/firstscreen';
@import './sections/photo-slider';
@import './sections/rooms';
@import './sections/approach';
@import './sections/advantages';
@import './sections/information';
@import './sections/callback';
@import './sections/reviews';
@import './sections/safety';
@import './sections/footer';
@import './sections/booking';
@import './sections/room-info';
@import './sections/start';

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body.is-fixed {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
