doctype html
html(lang='ru')
  include layout/head

  body
    include sections/header/index
    include sections/header-mobile/index
    include sections/firstscreen/index
    include sections/start/index
    include sections/photo-slider/index
    include sections/rooms/index
    include sections/approach/index
    include sections/advantages/index
    include sections/information/index
    include sections/callback/index
    include sections/safety/index
    include sections/start/reverse
    include sections/footer/index
    include sections/booking/index
    include sections/room-info/index
