doctype html
include layout/head

body
  include sections/header/index
  include sections/firstscreen/index
  include sections/photo-slider/index
  include sections/rooms/index
  include sections/approach/index
  include sections/advantages/index
  include sections/information/index
  include sections/callback/index
  include sections/reviews/index
  include sections/safety/index
  include sections/footer/index
  //include sections/booking/index
  include sections/room-info/index
