section.safety
  img.safety__image(src='../images/safety-cat.jpg')
  .safety__content-container
    .safety__content
      .safety__header
        h2.safety__title Безопасность и комфорт животных - это важно!
        p.safety__text Мы хотим, чтобы вы были уверены в нас, поэтому по любым вопросам вы можете писать нам на почту <a href="#" class="link">catdoghouse@mail.ru</a> или звонить по телефону <a href="#" class="link">+7(953)1733297</a>
