<svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="31" cy="31" r="30" stroke="#F15A24" stroke-width="2"/>
<path d="M16 30V34.5C16 40.35 20.65 45 26.5 45H35.5C41.35 45 46 40.35 46 34.5V30H16ZM19 33H43V34.5C43 38.7 39.7 42 35.5 42H26.5C22.3 42 19 38.7 19 34.5V33Z" fill="#F15A24"/>
<circle cx="20.5" cy="28.5" r="2" stroke="#F15A24"/>
<circle cx="40.5" cy="28.5" r="2" stroke="#F15A24"/>
<circle cx="24.5" cy="28.5" r="2" stroke="#F15A24"/>
<circle cx="36.5" cy="28.5" r="2" stroke="#F15A24"/>
<circle cx="32.5" cy="28.5" r="2" stroke="#F15A24"/>
<circle cx="26.5" cy="26.5" r="2" stroke="#F15A24"/>
<circle cx="34.5" cy="26.5" r="2" stroke="#F15A24"/>
<circle cx="30.5" cy="25.5" r="2" stroke="#F15A24"/>
<circle cx="28.5" cy="28.5" r="2" stroke="#F15A24"/>
</svg>
