<svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="31" cy="31" r="30" stroke="#F15A24" stroke-width="2"/>
<g clip-path="url(#clip_people)">
<path d="M30.321 29.7647C34.0794 29.7647 37.1262 26.6834 37.1262 22.8824C37.1262 19.0813 34.0794 16 30.321 16C26.5627 16 23.5159 19.0813 23.5159 22.8824C23.5159 26.6834 26.5627 29.7647 30.321 29.7647Z" fill="#F15A24"/>
<path d="M44.9998 39.0744V40.7312C44.9998 41.0692 44.8671 41.3934 44.6307 41.6324C44.3944 41.8715 44.0739 42.0057 43.7396 42.0057H41.2192C40.8927 42.0057 40.5795 41.8745 40.3486 41.641C40.1177 41.4075 39.988 41.0908 39.988 40.7605C39.988 40.0728 39.7178 39.4133 39.237 38.927C38.7562 38.4407 38.1041 38.1675 37.4241 38.1675H23.5706C22.8906 38.1675 22.2384 38.4407 21.7576 38.927C21.2768 39.4133 21.0067 40.0728 21.0067 40.7605C21.0052 41.0898 20.8748 41.405 20.644 41.6373C20.4133 41.8696 20.101 42 19.7754 42H17.255C16.9208 42 16.6002 41.8657 16.3639 41.6267C16.1276 41.3877 15.9948 41.0635 15.9948 40.7255V39.0686C15.9963 37.0043 16.8086 35.0251 18.2529 33.5664C19.6973 32.1077 21.6554 31.2889 23.6966 31.2903H37.3031C38.3138 31.2903 39.3147 31.4916 40.2485 31.8828C41.1823 32.274 42.0308 32.8474 42.7455 33.5702C43.4602 34.293 44.0272 35.1511 44.414 36.0955C44.8008 37.0399 44.9998 38.0521 44.9998 39.0744Z" fill="#F15A24"/>
</g>
<defs>
<clipPath id="clip_people">
<rect width="29" height="26" fill="white" transform="translate(16 16)"/>
</clipPath>
</defs>
</svg>
