head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="description")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    //link(rel="preload" href="./static/fonts/Roboto-LightItalic.woff2" as="font" crossorigin="anonymous")
    //link(rel="preload" href="./static/fonts/Roboto-Light.woff2" as="font" crossorigin="anonymous")
    //link(rel="preload" href="./static/fonts/Roboto-Medium.woff2" as="font" crossorigin="anonymous")
    //link(rel="preload" href="./static/fonts/Roboto-MediumItalic.woff2" as="font" crossorigin="anonymous")
    //link(rel="stylesheet" href="../styles.css")
    title Гостиница для животных
