head
    meta(charset="UTF-8")
    meta(name="description" content="Самая лучшая гостинца для животных")
    meta(name="viewport" content="width=device-width")
    link(rel="icon" href="/assets/favicon.svg")
    link(rel="preload" href="/fonts/Roboto-LightItalic.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Roboto-Light.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Roboto-Medium.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Roboto-MediumItalic.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Roboto-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/fonts/Roboto-Bold.woff2" as="font" crossorigin="anonymous")
    title Гостиница для животных
