footer.footer
  .footer__map
    img(src='../images/map-stub.jpg')
  .footer__content
    .footer__info
      .footer__section
        .footer__title Адрес
        .footer__text-block
          .footer__text Пр-т Ветеранов д.34
        a.link.link_theme_white.link_theme_normal.link_theme_mini(href='#') Как добраться?
      .footer__section
        .footer__title Контакты
        .footer__text-block
          .footer__text Тел. +7 (953) 854-56-48
          .footer__text E-mail: catdoghouse.mail.ru
        a.link.link_theme_white.link_theme_normal.link_theme_mini(href='#') Свяжитесь со мной
        ul.footer__social
          li.footer__social-item
            a.footer__social-link(href='#')
              include assets/vk
          li.footer__social-item
            a.footer__social-link(href='#')
              include assets/instagram
          li.footer__social-item
            a.footer__social-link(href='#')
              include assets/whatsapp
          li.footer__social-item
            a.footer__social-link(href='#')
              include assets/youtube
    nav.footer__navigation
      ul.footer__navigation-list
        li.footer__navigation-item
          a.link.link_theme_normal.link_theme_mini(href='#') Главная
        li.footer__navigation-item
          a.link.link_theme_normal.link_theme_mini(href='#') Номера и цены
        li.footer__navigation-item
          a.link.link_theme_normal.link_theme_mini(href='#') Правила заселения
        li.footer__navigation-item
          a.link.link_theme_normal.link_theme_mini(href='#') Отзывы
        li.footer__navigation-item
          a.link.link_theme_normal.link_theme_mini(href='#') Контакты
    .footer__privacy
      a.link.link_theme_white.link_theme_normal.link_theme_mini(href='#') Политика конфиденциальности
      a.link.link_theme_white.link_theme_normal.link_theme_mini(href='#') Персональная обработка данных
      .footer__privacy-host ИП Манакова Анна Алексеевна © 2021
