@import '~styles/colors';
@import '~styles/grid';
@import '~styles/mixins';
@import '~styles/breakpoints';

.photo-slider {
  position: relative;
  border-radius: 26px;
  overflow: hidden;

  @media ($tablet) {
    @include layout();
  }

  .owl-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .nav-button {
    transition: 0.3s transform, opacity;
    pointer-events: all;
		opacity: 0.8;

		svg {
			fill: $WHITE;
			transform: rotate(180deg);
			width: 15px;
			height: 45px;
		}

		@media ($tablet) {
			svg {
				width: 30px;
				height: 90px;
			}
		}
  }

  .nav-button-prev {
    margin-left: 20px;

    @media ($tablet) {
      margin-left: 15px;
    }

    @media ($laptop) {
      &:hover {
				opacity: 1;
        transform: translateX(-5px);
      }
    }
  }

  .nav-button-next {
    transform: rotate(180deg);
    margin-right: 20px;

    @media ($tablet) {
      margin-right: 15px;
    }

    @media ($laptop) {
      &:hover {
				opacity: 1;
        transform: translateX(5px) rotate(180deg);
      }
    }
  }
}

.photo-slider__item {
	padding-right: 10px;
	padding-left: 10px;

  img {
    border-radius: 26px;
  }
}
