div.photo-slider.owl-carousel
    div.photo-slider__item
        img(src='../images/common-rooms-1.png', alt='Современная гостиница для кошек')
    div.photo-slider__item
        img(src='../images/common-rooms-1.png', alt='Современная гостиница для кошек')
    div.photo-slider__item
        img(src='../images/common-rooms-1.png', alt='Современная гостиница для кошек')
    div.photo-slider__item
        img(src='../images/common-rooms-1.png', alt='Современная гостиница для кошек')

