.photo-slider.owl-carousel
  .photo-slider__item
    picture
      source(
        srcset='../images/photo-slider/photo-slider-1.webp',
        type='image/webp'
      )
      source(
        srcset='../images/photo-slider/photo-slider-1.jpg',
        type='image/jpg'
      )
      img(src='../images/photo-slider/photo-slider-1.jpg', alt='Современная гостиница для кошек', loading='lazy')
