$WHITE: #FFFFFF;
$ORANGE: #F15A24;
$LIGHT_ORANGE: #FF9068;
$GREEN: #358504;
$LIGHT_GREEN: #D0FCAD;
$MEDIUM_GREEN: #92BD36;
$YELLOW: #FFFA83;
$DARK_YELLOW: #C1A200;
$DARK_GREY: #707070;
$GREY: #E5E4E4;
$MIDDLE_GREY: #E3E3E3;
$LIGHT_GREY: #F3F3F3;
$DARK_RED: #850404;
$LIGHT_RED: #FCADAD;
$BLACK: #333333;
