@import '../styles/breakpoints';

@mixin layout {
	width: 300px; ///todo ???
	margin-right: auto;
	margin-left: auto;

	@media ($tablet) {
		width: 708px;
	}

	@media ($laptop) {
		width: 1040px;
	}
}
