.room-info__room(data-room-name="lux")
  h3.room-info__title Номер <span>“Люкс”</span>

  .room-info__content
    .room-info__left-side
      .room-info__slider
        .room-info__slides.owl-carousel
          img.room-info__slide(src='../images/rooms/2-original.jpg', alt='Фото 1 Номер Комфорт')
          img.room-info__slide(src='../images/rooms/1-original.jpg', alt='Фото 2 Номер Комфорт')
          img.room-info__slide(src='../images/rooms/3-original.jpg', alt='Фото 3 Номер Комфорт')
      .room-info__thumbs
        img.room-info__thumb(src='../images/rooms/2-original.jpg', alt='Фото 1 Номер Комфорт', data-slide-id='1')
        img.room-info__thumb(src='../images/rooms/1-original.jpg', alt='Фото 2 Номер Комфорт', data-slide-id='2')
        img.room-info__thumb(src='../images/rooms/3-original.jpg', alt='Фото 3 Номер Комфорт', data-slide-id='3')

    .room-info__right-side
      ul.room-info__info-list
        li.room-info__info-list-item - Теплый и удобный номер
        li.room-info__info-list-item - Лоток и миски
        li.room-info__info-list-item - Домик
        li.room-info__info-list-item - Когтеточка
        li.room-info__info-list-item - Видеонаблюдение 24/7

      .room-info__cost 1550 р <span>/сутки</span>

      button.button.button_theme_borders.room-info__order-button Забронировать номер
