section.reviews
  h2.reviews__title Отзывы
  .reviews__slider.owl-carousel
    .reviews__slide
      p.reviews__text Здесь какой-то положительный отзыв, на пару строк. Типо спасибо большое, бла бла бла. И еще все хорошо. И вот еще все понравилось, Будем обращаться еще. Спасибо большое! Типо спасибо большое, бла бла бла.
      .reviews__avatar
      span.reviews__name Марина
      span.reviews__date 12 июля 2021, 16:12
    .reviews__slide
        p.reviews__text Норм гостиница
        .reviews__avatar
        span.reviews__name Игорь
        span.reviews__date 12 июля 2021, 16:12
  .reviews__write Оставить отзыв можно <a href="#" class="link">здесь</a>.
