@import '../../../styles/colors';

.booking-form__checkbox-rooms {
	display: flex;
}

.booking-form__checkbox-room {
	width: 50%;
	display: flex;

	&:first-child .booking-form__checkbox-room-label {
		border-radius: 25px 0 0 25px;
	}

	&:last-child .booking-form__checkbox-room-label {
		border-radius: 0 25px 25px 0;
		border-left: none;
	}
}

.booking-form__checkbox-room-label {
	width: 100%;
	border: 1px solid $LIGHT_ORANGE;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
	text-align: center;
	color: $LIGHT_ORANGE;
	cursor: pointer;
}

.booking-form__checkbox-room-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;

	&:checked ~ .booking-form__checkbox-room-label {
		background: $LIGHT_ORANGE;
		color: $WHITE;
	}
}

.booking-form__number-info {
	text-align: right;
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	margin-top: 12px;
}

.booking-form__form-inputs {
	display: flex;
	margin-top: 50px;

	input {
		width: 235px;
		margin-bottom: 30px;
	}
}

.booking-form__form-inputs-section {
	width: 50%;
	display: flex;
	flex-direction: column;

	&:last-child {
		align-items: flex-end;
	}
}

.booking-form__form-comments-input {
	margin-top: 40px;
	width: 100%;
}

.booking-form__cost {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.booking-form__cost-title {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.booking-form__cost-value {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}

.booking-form__cost-info {
	margin-top: 6px;
	display: block;
}

.booking-form__submit {
	width: 220px;
	display: flex;
	margin: 50px auto 0 auto;
}

.booking-form__agreements {
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	margin-top: 25px;
}
