form
  ul.booking-form__checkbox-rooms
    li.booking-form__checkbox-room
      input#room_1.booking-form__checkbox-room-input(name='room', type='radio', value='room_1')
      label.booking-form__checkbox-room-label(for='room_1') Комфорт
    li.booking-form__checkbox-room
      input#room_2.booking-form__checkbox-room-input(name='room', type='radio', , value='room_2')
      label.booking-form__checkbox-room-label(for='room_2') Люкс

  .booking-form__number-info Подробнее о номерах <a href="#" class="link link_theme_extra-mini">здесь</a>

  .booking-form__form-inputs
    .booking-form__form-inputs-section
      input.input(placeholder='Дата заезда')
      input.input(placeholder='Ваше имя')
    .booking-form__form-inputs-section
      input.input(placeholder='Дата отъезда')
      input.input(placeholder='Ваш телефон')
      input.input(placeholder='Ваш e-mail')

  input.input.booking-form__form-comments-input(placeholder='Комментарий')

  .booking-form__cost
    .booking-form__cost-title Предварительная стоимость
    .booking-form__cost-value 2 500 р

  a.link.link_theme_normal.link_theme_mini.booking-form__cost-info(href='#') Как происходит оплата?

  .booking-form__submit
    button.button Забронировать номер

  .booking-form__agreements Нажимая на кнопку, вы даете согласие на <a href='#' class="link link_theme_extra-mini">обработку своих персональных данных.<a/>
